<div class="login">
  <h1>Add a new Recipe</h1>
    <form method="post" action="/create">
      <input type="text" name="u" placeholder="Recipe Title" required="required" />
      <input type="text" name="p" placeholder="Recipe Description" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Submit a new Recipe</button>
    </form>
</div>
