<p>
<br>
  <br><br>
  <br><br>
  <br>
  Welcome to the Cookbook! Choose your action!
  <br>
  <br>
  <div>
  <a href="/show" class="btn btn-default">Show all Recipes</a>
  <a href="/new" class="btn btn-default">Create a Recipe</a>
  <a href="/delete" class="btn btn-default">Delete a Recipe</a>
  <a href="/import" class="btn btn-default">Import Recipes from Epicurious</a>
  </div>
</p>
